build
build-eclipse
.arc_jira_lib
.classpath*
.externalToolBuilders
.project
.settings
*.launch
*~
metastore_db
common/src/gen
.idea
*.iml
*.ipr
*.iws
derby.log
datanucleus.log
.arc
TempStatsStore/
target/
