build
build-eclipse
.arc_jira_lib
.classpath*
.externalToolBuilders
.project
.settings
.factorypath
*.launch
*.metadata
*~
common/src/gen
.idea
*.iml
*.ipr
*.iws
*.swp
.arc
target/
conf/hive-default.xml.template
.DS_Store
.factorypath
standalone-metastore/metastore-common/src/gen/version
kafka-handler/src/test/gen
**/.vscode/
/.recommenders/
dependency-reduced-pom.xml
**/.mvn/.develocity*
