build
build-eclipse
.arc_jira_lib
.classpath*
.externalToolBuilders
.project
.settings
*.launch
*~
metastore_db
common/src/gen
.idea
*.iml
*.ipr
*.iws
*.swp
derby.log
datanucleus.log
.arc
TempStatsStore/
target/
ql/TempStatsStore
hcatalog/hcatalog-pig-adapter/target
hcatalog/server-extensions/target
hcatalog/core/target
hcatalog/webhcat/java-client/target
hcatalog/storage-handlers/hbase/target
hcatalog/webhcat/svr/target
conf/hive-default.xml.template
