<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
        https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level - %msg%n%throwable"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.hadoop.hive.metastore.conf" additivity="false" level="warn">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>