<settings>
  <mirrors>
    <mirror>
      <id>central-https</id>
      <mirrorOf>central</mirrorOf>
      <url>https://repo.maven.apache.org/maven2</url>
    </mirror>

    <mirror>
      <id>datanucleus-https</id>
      <mirrorOf>datanucleus</mirrorOf>
      <url>https://www.datanucleus.org/downloads/maven2</url>
    </mirror>

    <mirror>
      <id>conjars-https</id>
      <mirrorOf>conjars</mirrorOf>
      <url>https://conjars.org/repo</url>
    </mirror>
  </mirrors>
</settings>
